@value app: "../App.module.css";
@value smallPadding, mediumPadding from app;

.title {
  padding-top: smallPadding;
  padding-left: mediumPadding;
  position: absolute;
  pointer-events: none;
}

.paper {
  width: 100%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
}
